{% if queryset.has_other_pages %}
<div class="text-center">
    <div class="pagination alternate">
                  <ul>
                    {% if queryset.has_previous %}
                    <li><a href="?page={{queryset.previous_page_number}}" data-page="{{queryset.previous_page_number}}">Prev</a></li>
                  
                    {% endif %}

                    {% for page in custom_range %}
                    {% if page == queryset.number %}    
                    <li class="active"> <a href="?page={{page}}" data-page="{{page}}">{{page}}</a> </li>
                    {% else %}
                    <li><a href="?page={{page}}" data-page="{{page}}">{{page}}</a></li>
                    {% endif %}

                    {% endfor %}


                    {% if queryset.has_next %}
                    <li><a href="?page={{queryset.next_page_number}}" data-page="{{queryset.next_page_number}}">Next</a></li>
                    {% endif %}
                  </ul>
    </div>
</div>
{% endif %}